.w3-theme-l5 {
    color: #000 !important;
    background-color: #fef4f3 !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #fdd9d6 !important
}

.w3-theme-l3 {
    color: #000 !important;
    background-color: #fbb3ae !important
}

.w3-theme-l2 {
    color: #000 !important;
    background-color: #f98d85 !important
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #f6665c !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #f32617 !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #e11a0c !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #c5170a !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #a91409 !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #8d1007 !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #fef4f3 !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #8d1007 !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #8d1007 !important
}

.w3-theme {
    color: #fff !important;
    background-color: #f44336 !important
}

.w3-text-theme {
    color: #f44336 !important
}

.w3-border-theme {
    border-color: #f44336 !important
}

.w3-hover-theme:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.w3-hover-text-theme:hover {
    color: #f44336 !important
}

.w3-hover-border-theme:hover {
    border-color: #f44336 !important
}